<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <td><h1>Students list</h1></td>
            <td align="right"><h1><a href="/courses">Go to Courses</a></h1></td>
        </tr>
    </table>
    <p>No student found. Add the students now!</p>
    <a href="/student/create" type="button">+Add Student</a>
</body>
</html>