<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 align="center">Student Details</h1>
    <table id = 'student-detail'>
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{student_details.roll_number}}</td>
                <td>{{student_details.first_name}}</td>
                <td>{{student_details.last_name}}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>

    <h1 align="center">Enrollment List</h1>

    <table id = "student-enrollments">
        <thead>
            <tr>
                <th>SNo</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for c in courses%}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{c.course_code}}</td>
                <td>{{c.course_name}}</td>
                <td>{{c.course_description}}</td>
                <td>
                    <a href="/student/{{student_details.student_id}}/withdraw/{{c.course_id}}">Withdraw</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <a href="/">Go Back</a>

        
</body>
</html>